<div class="row">
	<div class="col col-md-12 col-lg-8 offset-lg-2 text-center bg-white profile_container rounded-top border border-white">
		
		<%= render 'user-controls', user: @user %>
		
		<h2 class="font-w-100 color-burnt-orange trail_name"><%= @user.trail_name %></h2>

		<h4 class="notes-header font-w-100 color-grey-red">Bio:</h4>
		<p class="notes-p"><%= @user.bio %></p>
	</div>		
</div>

<div class="row">	
	<div class="justify-content-center align-items-center col-12 col-md-6 col-lg-4 offset-lg-2 show-card text-center p-4 border border-left-0 border-white">
		<h2 class="text-white font-w-100">Hikes Planned.</h2>		

		<ul class="no-style p-0">
			<%= render partial: 'hikes/hike_li', collection: @user.planned_hikes, as: :hike %>
		</ul>
	</div>
		
	<div class="justify-content-center align-items-center col-12 col-md-6 col-lg-4 show-card text-center p-4 border border-left-0 border-white">
		<h2 class="text-white font-w-100">Hikes Joined.</h2>
		
		<ul class="no-style p-0">
			<%= render partial: 'hikes/hike_li', collection: hikes_joined(@user, @user.hikes), as: :hike %>
		</ul>	
	</div>
</div>

