 
<%= render partial: 'hike-errors', locals: { hike: @hike } %>

<%= form_for(hike) do |f| %>
	<%= f.hidden_field :leader_id, :value => current_user.id %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>	
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>

	<h5>You can only choose One Hiking Trail for this hike, select an existing trails above or define make your own below.</h5>

	<div class="field">
		<%= f.label :hiking_trail_id %><br />
		<%= f.collection_select :hiking_trail_id, HikingTrail.all, :id, :name, :include_blank => "Pick the Perfect Trail for your Adventure" %>
	</div>

	<div class="field">
		<h6>Didn't Find one you like? Make your own below!</h6>
		<fieldset>
			<legend>Hiking Trail</legend>
			<%= f.fields_for :hiking_trail, @hike.build_hiking_trail do |ht_builder| %>
				<div class="field">
					<%= ht_builder.label :name %><br />
					<%= ht_builder.text_field :name %>
				</div>
				
				<div class="field">
					<%= ht_builder.label :location %><br />
					<%= ht_builder.text_field :location %>
				</div>

				<div class="field">
					<%= ht_builder.label :area, "Choose the Hike Area" %><br />
					<%= ht_builder.select :area, HikingTrail::TRAIL_AREAS %>
				</div>

				<div class="field">
					<%= ht_builder.label :feature_id, "Choose feature for this trail" %><br />
					<%= ht_builder.collection_select :feature_id, Feature.all, :id, :title %>
				</div>

				<div class="field">
					<%= ht_builder.label :distance %><br />
					<%= ht_builder.text_field :distance %>
				</div>

			<% end %>
		</fieldset>
	</div>
	
	<div class="field">
		<%= f.label :hike_date %><br />
		<%= f.date_select :hike_date %>
	</div>

	<div class="field">
		<%= f.label :hike_time %><br />
		<%= f.time_select :hike_time %>
	</div>

	<div class="field">
		<%= f.label :notes, "Additonal Notes for Hikers:" %><br />
		<%= f.text_area :notes %>
	</div>

	<%= f.submit %>
<% end %>