<div class="row">
  <h4 class="text-white col-lg-8 col-xs text-shadow display-4 display-4-md">Get back out there Hiker,<br /> an Adventure Awaits.</h4>
</div>

<div class="row">
  <div class="col-lg-8 col-xs">
    <%= form_for(resource, :html => { class: 'sign_in-form rounded p-3 box-shadow' }, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field col-xs col-lg-9">
        <%= f.label :email, :class => "text-white" %><br />
        <%= f.email_field :email, autofocus: true, :class => "w-100" %>
      </div>

      <div class="field col-xs col-lg-9">
        <%= f.label :password, :class => "text-white" %><br />
        <%= f.password_field :password, autocomplete: "off", :class => "w-100" %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field col-xs col-lg-9">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, :class => "text-white" %>
        </div>
      <% end -%>

      <div class="actions mt-2 mb-2 col">
        <div class="row">

          <div class="col-lg-9 mb-2">
            <%= f.submit "Log in", :class => "btn btn-login-form text-white w-100" %>
          </div>

        </div>
            <%= render "devise/shared/login-page-links" %> 
      </div>

    <% end %>
  </div>
</div>